 .container {
    width: 500px;
    background-color: #f5f5dc;
    display: grid;
    /* grid-template-columns: auto auto auto auto;  */
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 20px;
} 

.box {
    width: 100px;
    aspect-ratio: 1 /1;
    background-color: teal ;
}

.mini-box {
    width: 20px;
    height: 20px;
    background-color: black;
}

.fancy {
    background-color: royalblue;
}
