* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
       width: 100%;
       display: flex;
       /* flex-direction: row; */
       justify-content: center;
       margin-top: 5%;
       margin-bottom: 10%;
       gap:20px; 

}
.container {
     display: flex;
     flex-shrink: 0;
     flex-direction: column;
     align-items: center;
     width: 25%;
     border: 2px solid rgb(231, 231, 231);

}

.basic {
    display: flex;
    justify-content: center;
    height: max-content;
    width: 100%;
    padding: 2rem;
    background-color: black;
    color: #ccc;
    margin-bottom: 2%;

}

hr {
    width: 100%;
}

.main-container {
    text-align: center;
    width: 100%;
    padding: 25px;
}

.dollar {
    padding: 25px;
}

.rupees {
    font-size: 2.8rem;
}

article {
    padding: 0.5rem;
    color: grey;
}

.sign-up {
     padding: 2rem;
     width:100%;
background-color: rgb(225, 222, 222);

}

button {
    background-color: rgb(26,188,26);
    color:white;
    border: none;
    padding: 1rem;
    padding-inline: 1.4rem ;
    text-align: center;
    cursor: pointer;

}

#pro {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) ,
                0 6px 20px 0 rgba(0,0,0,0.19) ;
}

.pro {
    background-color: rgb(90,90,90);
}
